# Data Science Tools and Ecosystem

This note book summarizes Data Science Tools and Ecosystem.

**Objectives:**
- List of popluar Data Science Languages
- Libraries used in Data Science
-  List of Common Data Science Tools
- Arethmatic Expression

A list of some popular Data Science languages:
1. Python
2. R
3. SQL
4. Scala
5. Java

The following libraries are currently used in Data Science.
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. Keras

|Data Science Tools|
|:------------------:|
| Jupyter |
| Jupyter Lab |
| Apache Zeppelin |
| R Studio |
| Spyder |

### Below are a several examples of evaluating arithmatic in Python.

In [1]:
# A simple arithmatic expression to multiply then add intergers
(3*4)+5

17

In [8]:
# This will convert 200 minutes into hours
200/60

3.3333333333333335

## Author
Rebecca Fuller